.Bottom_Band {
  background-color: #f9f9f9;
  min-height: 350px; }

.btn {
  border-radius: 0; }

.btn:focus {
  outline: none; }

.nav_button_column {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0; }

.panel_content {
  padding-left: 20%;
  padding-top: 10%; }

.selected_tab {
  background-color: #f9f9f9;
  font-weight: bold; }

.btn:hover {
  text-decoration: none;
  color: inherit; }

.unselected_tab {
  background-color: #00aeef;
  color: white; }

.icon_placing {
  padding-top: 15%; }

.panel_gradient {
  background: #f9f9f9;
  background: -webkit-linear-gradient(left, #f9f9f9, #f1f1f1);
  background: -o-linear-gradient(right, #f9f9f9, #f1f1f1);
  background: -moz-linear-gradient(right, #f9f9f9, #f1f1f1);
  background: linear-gradient(to right, #f9f9f9, #f1f1f1);
  min-height: 350px; }

.panel_gradient_mobile {
  background: #f9f9f9;
  background: -webkit-linear-gradient(#f9f9f9, #f1f1f1);
  background: -o-linear-gradient(#f9f9f9, #f1f1f1);
  background: -moz-linear-gradient(#f9f9f9, #f1f1f1);
  background: linear-gradient(#f9f9f9, #f1f1f1);
  min-height: 350px; }

.counter, .stat_counter, .stat_counter_lite, .stat_counter_lite_extra {
  font-family: "Helvetica Neue";
  text-transform: uppercase;
  line-height: 1;
  padding-top: 5%; }

.stat_counter {
  font-size: 85px;
  color: #0075b5; }

.stat_counter_lite {
  font-size: 85px;
  color: #00aeef; }

.stat_counter_lite_extra {
  font-size: 35px;
  color: #00aeef; }

.stat_title {
  font-size: 11pt;
  font-family: "Helvetica Neue";
  color: black;
  text-transform: uppercase;
  padding-bottom: 10%; }

img {
  border: 0; }

.participants_text {
  font-size: 10pt;
  font-family: "Helvetica Neue";
  color: gray; }

.participant_total_count {
  font-size: 20pt;
  font-family: "Helvetica Neue";
  color: #019ed8;
  line-height: 1.2;
  text-transform: uppercase; }

.participant_total_count_extra {
  font-size: 15pt;
  font-family: "Helvetica Neue";
  color: #019ed8;
  line-height: 1.2;
  text-transform: uppercase; }
