
$base-color: #f9f9f9
$base-height: 350px
$base-font-family: "Helvetica Neue"
$stat-counter-color: #0075b5
$stat-counter-color-light: #00aeef
$stat-counter-size: 85px;
$stat-counter-extra-size: 35px;
$stat_title-size: 11pt;
$gradient-right-color: #f1f1f1
$participants_text-size: 10pt
$participant_total_count-color: #019ed8

 
.Bottom_Band 
  background-color: $base-color
  min-height: $base-height
  
.btn
    border-radius: 0
    
.col-md-6 
  padding-right: 0

.btn:focus
  outline: none

.nav_button_column
    padding-left: 0
    padding-right: 0
    border-radius: 0

.panel_content
  padding-left: 20%
  padding-top: 10%

.selected_tab
    background-color: $base-color
    font-weight: bold
    
.btn:hover
    text-decoration: none
    color: inherit
    
.unselected_tab
    background-color: #00aeef
    color: white

.icon_placing
  padding-top: 15%
  
.panel_gradient
  background: $base-color
  background: -webkit-linear-gradient(left, $base-color , $gradient-right-color)
  background: -o-linear-gradient(right, $base-color, $gradient-right-color)
  background: -moz-linear-gradient(right, $base-color, $gradient-right-color)
  background: linear-gradient(to right,$base-color, $gradient-right-color)
  min-height: $base-height

.panel_gradient_mobile
  background: $base-color
  background: -webkit-linear-gradient( $base-color , $gradient-right-color)
  background: -o-linear-gradient($base-color, $gradient-right-color)
  background: -moz-linear-gradient($base-color, $gradient-right-color)
  background: linear-gradient($base-color, $gradient-right-color)
  min-height: $base-height

.counter, .stat_counter, .stat_counter_lite, .stat_counter_lite_extra
  font-family: $base-font-family
  text-transform: uppercase
  line-height: 1
  padding-top: 5%;

.stat_counter
  font-size: $stat-counter-size 
  color: $stat-counter-color
  
.stat_counter_lite
  font-size: $stat-counter-size
  color: $stat-counter-color-light
  
.stat_counter_lite_extra
  font-size: $stat-counter-extra-size
  color: $stat-counter-color-light

.stat_title
  font-size: $stat_title-size
  font-family: $base-font-family
  color: black
  text-transform: uppercase
  padding-bottom: 10%
  

img
  border: 0
  
.participants_text
  font-size: $participants_text-size
  font-family: $base-font-family
  color: gray
  
.participant_total_count
  font-size: $participants_text-size*2
  font-family: $base-font-family
  color: $participant_total_count-color
  line-height: 1.2
  text-transform: uppercase
  
.participant_total_count_extra
  font-size: 15pt;
  font-family: $base-font-family
  color: $participant_total_count-color
  line-height: 1.2
  text-transform: uppercase
  
.participants_text, .participant_total_count, .participant_total_count_extra 
  animation-duration: 3s
  animation-name: slideleft

.panel_gradient_mobile
  animation-duration: 3s
  animation-name: slideup

@keyframes slideleft 
  from 
    margin-left: 100%
   
  
  to 
    margin-left: 0%
    padding-left: 20%
  
@keyframes slideup
  from 
    margin-top: 100%
    
  
  to 
    margin-top: 0%
    
